// Color Palette:
$dark-primary: #00796b;
$light-primary: #b2dfdb;
$primary: #009688;
$primary-text: #212121;
$secondary-text: #757575;
$light-text: #ffffff;

// Box Shadows:
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.23);
$box-shadow-light: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

// Font Sizes:
$font-sm: 0.8rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;
$font-xl: 2rem;

// Font Weight:
$bold: 600;

// Border Radius:
$border-radious-md: 8px;

// Paddings/Margins:
$gap-xs: 0.2rem;
$gap-md: 1rem;
$gap-lg: 1.5rem;
$gap-xl: 2rem;
